.markdown {
    @apply text-lg leading-relaxed sm:leading-loose;
}

.markdown ul,
.markdown ol {
    @apply my-2 sm:my-2;
}

.markdown p,
.markdown blockquote {
    @apply mt-5;
}

.markdown ul {
    @apply pl-5 pr-2 md:pl-12;
    list-style-type: '\25AA';
}

.markdown ul ul {
    @apply pl-2 pr-2 md:pl-10 text-base md:text-lg;
    list-style-type: '-';
}

.markdown ul ul ul {
    @apply pl-2 pr-2 md:pl-8 text-sm md:text-base;
    list-style-type: '○';
}

.markdown li p {
    @apply mt-1;
}

.markdown h2:before {
    content: '\2714     ';
    margin: -1.5rem;
}

.markdown br {
    @apply block my-3;
    content: ' ';
}

.markdown ul li {
    @apply pl-2 md:pl-5 mb-2;
}

.markdown h2 {
    @apply pl-5 text-2xl sm:text-3xl mt-10 sm:mt-14 mb-4 leading-snug;
}

.markdown h3 {
    @apply text-xl font-bold mt-8 md:mt-8 mb-4 leading-snug text-left;
}

.markdown img {
    @apply rounded-lg shadow-md my-5 md:my-10;
}
